.vs/
.git/
bin/
Profiling/
Build/
Models/

Aurora.sln
Aurora.vcxproj
Aurora.vcxproj.user
Aurora.vcxproj.filters

Luna.vcxproj
Luna.vcxproj.user
Luna.vcxproj.filters

SandBox.vcxproj
SandBox.vcxproj.user
SandBox.vcxproj.filters

ImGui.vcxproj
ImGui.vcxproj.user
ImGui.vcxproj.filters

GLFW.vcxproj
GLFW.vcxproj.user
GLFW.vcxproj.filters

Glad.vcxproj
Glad.vcxproj.user
Glad.vcxproj.filters