.vs/
.git/
bin/
Build/

OpenGLSeries.sln
OpenGLSeries.vcxproj
OpenGLSeries.vcxproj.filters
OpenGLSeries.vcxproj.user

SandBox.sln
SandBox.vcxproj
SandBox.vcxproj.filters
SandBox.vcxproj.user

ImGui.vcxproj
ImGui.vcxproj.filters

GLFW.vcxproj
GLFW.vcxproj.user
GLFW.vcxproj.filters

Glad.vcxproj
Glad.vcxproj.filters